/* src/components/Footer.css */
.footer {
  text-align: center; /* */
  padding: 20px;
  background-color: #333;
  color: white;
  /* Optional: Styles to help the footer stick to the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;
}
